<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="paging (paging)">
    <nav aria-label="Page navigation">
        <ul class="pagination pull-right" th:if="${paging.pageSize gt 0}">
            <li class="page-item" th:classappend="${paging.nowFirst eq true} ? 'diabled'">
                <a class="page-link" href="#" th:attrappend="onclick=${paging.nowFirst ne true} ? |movePage('${paging.prevPageNo}')|">Previous</a>
            </li>
            <li th:each="pageNo: ${#numbers.sequence(paging.startPage, paging.endPage)}" th:class="${pageNo eq paging.pageNo} ? 'page-item active'">
                <a class="page-link" href="#" th:onclick="|movePage('${pageNo}')|" th:text="${pageNo}">pageNo</a>
            </li>
            <li class="page-item" th:classappend="${paging.nowFinal eq true} ? 'diabled'">
                <a class="page-link" href="#" th:attrappend="onclick=${paging.nowFinal ne true} ? |movePage('${paging.nextPageNo}')|">Next</a>
            </li>
        </ul>
    </nav>
</th:block>
</html>