<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="user_detail">
	<div class="container">
		<div class="a_title text-center"><h2><span>USER INFORMATION</span></h2></div><br />
		<div>
			<div class="row">
				<span class="col-md-3">ID</span>
				<span class="col-md-9" th:text="${user.id }">ID</span>
			</div><hr />
			<div class="row">
				<span class="col-md-3">EMAIL</span>
				<span class="col-md-9" th:text="${user.email }">EMAIL</span>
			</div><hr />
			<div class="row">
				<span class="col-md-3">FIRST NAME</span>
				<span class="col-md-9" th:text="${user.fname }">FIRST NAME</span>
			</div><hr />
			<div class="row">
				<span class="col-md-3">LAST NAME</span>
				<span class="col-md-9" th:text="${user.lname }">LAST NAME</span>
			</div><hr />
		</div><br />
		<div>
			<div class="hor_center">
				<div class="btn-group">
					<button class="btn btn-default" th:onclick="|move('/users/${user.id}/edit')|">EDIT</button>
					<a href="#userDeleteModal" data-toggle="modal" class="btn btn-default">DELETE</a>
				</div>
			</div>
		</div>
	</div>

	<div id="userDeleteModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title text-center">DELETE</h3>
				</div>
				<div class="modal-body text-center">
					<h3>ARE YOU SURE TO DELETE THIS USER? THINK OVER IT.</h3><br />
				</div>
				<div class="modal-footer">
					<div >
						<input type="button" class="btn btn-danger" th:attr="onclick=|deleteUser('${user.id}','${user.email}')|" value="ACCEPT"/>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		const deleteUser = (userId, email) => {
			if(confirm(`are you sure to delete ${email}?`)){
				let uri = `/users/${userId}`;
				let params = {};
				params.userId = userId;
				let response = httpCall('DELETE', uri, params);
				response.done((res) => {
					alert(`delete ${email} succeeded!`);
					move('/users');
				}).fail((e) => {
					console.log(e);
					alert(`failed to delete ${email}`);
				})
			}

		}
	</script>
</section>
</html>
