<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<section th:fragment="user_list">
	<div class="container a_article">
		<div class="a_title text-center"><h2><span>USER LIST</span></h2></div><br /><br />
        <div class="row">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">id</th>
                        <th class="text-center">email</th>
                        <th class="text-center">first name</th>
                        <th class="text-center">last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${user}">
                        <td class="text-center h_nav"><a th:href="@{/users/${user.id}}" class="udBtn" th:text="${user.id}">ID</a></td>
                        <td class="text-center" th:text="${user.email}">EMAIL</td>
                        <td class="text-center" th:text="${user.fname}">FIRST NAME</td>
                        <td class="text-center" th:text="${user.lname}">LAST NAME</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="row">
            <div class="col-md-2">
                <a th:href="@{/users/add}" class="btn btn-primary">ADD USER</a>
            </div>
            <th:block th:replace="common/paging :: paging (${paging})"></th:block>
		</div>
	</div>
    <script>
        const movePage = (pageNo) => {
            let url = '/users?';
            if (pageNo > 0) {
                url += 'page=' + pageNo;
            }
            console.log(url);
            location.href = url;
        }
    </script>
</section>
</html>
