<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WELCOME TO COFFEE KONG.</title>
</head>
<body>
	<!-- header start-->
	<header id="header" th:replace="header :: header"></header>
	<!-- content start -->
	<th:block th:switch="${content}">
		<th:block th:case="'intro'">
			<section th:replace="information/intro :: intro"></section>
		</th:block>
		<th:block th:case="'location'" >
			<section th:replace="information/location :: location"></section>
		</th:block>
		<th:block th:case="'contact'">
			<section th:replace="information/contact :: contact"></section>
		</th:block>
		<th:block th:case="'user-list'" >
			<section th:replace="user/list :: user_list"></section>
		</th:block>
		<th:block th:case="'user-detail'">
			<section th:replace="user/detail :: user_detail"></section>
		</th:block>
		<th:block th:case="'user-update'" >
			<section th:replace="user/update :: user_update"></section>
		</th:block>
		<th:block th:case="'user-add'" >
			<section th:replace="user/add :: user_add"></section>
		</th:block>
		<th:block th:case="*">
			<section th:replace="index_init :: index_init"></section>
		</th:block>
	</th:block>
	<!-- footer start -->
	<footer id="footer" th:replace="footer :: footer"></footer>
</body>
<script>
	const httpCall = (method, url, params, dataType) => {
		jQuery.ajaxSettings.traditional = true;
		return $.ajax({
			type: method,
			url: url,
			data: params,
			dataType: dataType,
            contentType: 'application/json',
		});
	};
	const move = (uri) => {
		location.href = uri;
	}
</script>
</html>