<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeekong.mapper.OrderMapper">

	<resultMap id="Order" type="com.coffeekong.domain.OrderVO" >
		<id property="id" column="o_id"/>
		<result property="email" column="u_email"/>
		<result property="price" column="o_price"/>
		<result property="fname" column="o_rfname"/>
		<result property="lname" column="o_rlname"/>
		<result property="phone" column="o_phone"/>
		<result property="postcode" column="o_postcode"/>
		<result property="addr" column="o_addr"/>
		<result property="state" column="o_state"/>
		<result property="date" column="o_date"/>
		<collection property="opvo" resultMap="OrderProd" ofType="com.coffeekong.domain.OrderProdVO"/>
	</resultMap>

	<resultMap id="OrderProd" type="com.coffeekong.domain.OrderProdVO">
		<id property="id" column="op_id"/>
		<result property="orderId" column="o_id"/>
		<result property="productId" column="p_id"/>
		<result property="name" column="p_name"/>
		<result property="category" column="p_category"/>
		<result property="img" column="p_img"/>
		<result property="qty" column="op_qty"/>
		<result property="sz" column="op_sz"/>
		<result property="type" column="op_type"/>
		<result property="price" column="op_price"/>
	</resultMap>

	<sql id="searchByEmail">
		<if test="cri.searchType != null">
			<if test="cri.searchType == 'prodNm'.toString()">
				AND
					LOWER(p.p_name)
				LIKE
				  	CONCAT('%',#{cri.keyword},'%')
			</if>
		</if>
	</sql>
	
	<sql id="search">
		<if test="cri.searchType != null">
			<if test="cri.searchType == 'prodNm'.toString()">
				WHERE
					LOWER(p.p_name)
				LIKE
					CONCAT('%',#{cri.keyword},'%')
			</if>
			<if test="cri.searchType == 'email'.toString()">
				WHERE
					LOWER(o.u_email)
				LIKE
					CONCAT('%',#{cri.keyword},'%')
			</if>
		</if>
	</sql>

	<select id="listByEmail" resultMap="Order">
		SELECT
			o.o_id, p.p_name,p.p_category,p.p_img, op.p_id,op.op_qty,op.op_sz,op.op_type,op.op_price,
			o.o_price,o.o_rfname,o.o_rlname,o.o_phone,o.o_postcode,o.o_addr,o.o_state,o.o_date
		FROM
			tbl_order o
		LEFT JOIN
			tbl_order_prod op
		ON
			o.o_id = op.o_id
		INNER JOIN
			tbl_prod p
		ON
			op.p_id=p.p_id
		WHERE
			o.u_email = #{email}
			<include refid="searchByEmail"></include>
		ORDER BY
			o.o_id
		LIMIT
			#{cri.startIdx}, #{cri.perPageNum}
	</select>
	<select id="listCountByEmail" resultType="int">
		SELECT
			count(*)
		FROM
			tbl_order o
		INNER JOIN
			tbl_order_prod op
		ON
			o.o_id=op.o_id
		INNER JOIN
			tbl_prod p
		ON
			op.p_id=p.p_id
		WHERE o.u_email=#{email}
		<include refid="searchByEmail"></include>
	</select>
	<select id="list" parameterType="com.coffeekong.domain.SearchCriteria" resultMap="Order">
		SELECT
			o.o_id, o.u_email,p.p_name,p.p_category,p.p_img, op.p_id,op.op_qty,op.op_sz,op.op_type,op.op_price,
			o.o_price,o.o_rfname,o.o_rlname,o.o_phone,o.o_postcode,o.o_addr,o.o_state,o.o_date
		FROM
			tbl_order o
		LEFT JOIN
			tbl_order_prod op
		ON
			o.o_id = op.o_id
		INNER JOIN
			tbl_prod p
		ON
			op.p_id=p.p_id
		<include refid="search"></include>
		ORDER BY
			o.o_id
		LIMIT
		   #{cri.startIdx}, #{cri.perPageNum}
	</select>
	<select id="listCount" parameterType="com.coffeekong.domain.SearchCriteria" resultType="int">
		SELECT count(*)
		FROM tbl_order o INNER JOIN 
			(
				tbl_order_prod op INNER JOIN tbl_prod p
				ON op.p_id=p.p_id
			)
		ON o.o_id=op.o_id
		<include refid="search"></include>
	</select>
	<select id="getByOid" resultMap="Order">
		SELECT 
			o.o_id, o.u_email,p.p_name,p.p_category,p.p_img, op.p_id,op.op_qty,op.op_sz,op.op_type,op.op_price, 
			o.o_price,o.o_rfname,o.o_rlname,o.o_phone,o.o_postcode,o.o_addr,o.o_state,o.o_date
		FROM 
			tbl_order o
		LEFT JOIN
			tbl_order_prod op
		ON
			o.o_id = op.o_id
		INNER JOIN
			tbl_prod p
		ON
			op.p_id=p.p_id
		WHERE
			o.o_id = #{orderId}
	</select>
	
	<insert id="insOrd" parameterType="com.coffeekong.domain.OrderVO"
	useGeneratedKeys="true" keyProperty="vo.id" keyColumn="o_id">
		INSERT INTO
			tbl_order(u_email, o_price, o_rfname, o_rlname, o_phone, o_postcode, o_addr, o_state, o_date)
		VALUES(
			#{vo.email}, #{vo.price}, #{vo.fname},
			#{vo.lname}, #{vo.phone}, #{vo.postcode}, #{vo.addr},
			'waiting payment', now()
		)
	</insert>
	<insert id="insOrdProd" parameterType="com.coffeekong.domain.CartVO">
		INSERT INTO
			tbl_order_prod(o_id, p_id, op_qty, op_sz, op_type, op_price)
		VALUES(
			#{orderId}, #{vo.productId},#{vo.qty}, #{vo.sz}, #{vo.type}, #{vo.subPrice}
		)
	</insert>
	<insert id="insOrdProdTool" parameterType="com.coffeekong.domain.CartVO">
		INSERT INTO
			tbl_order_prod(o_id, p_id, op_qty, op_price)
		VALUES(
			#{orderId}, #{vo.productId}, #{vo.qty}, #{vo.subPrice}
		)
	</insert>
	
	<update id="update" parameterType="com.coffeekong.domain.OrderVO">
		UPDATE 
			tbl_order
		SET
			o_price=#{ovo.price},o_rfname=#{ovo.fname}, o_rlname=#{ovo.lname}, o_phone=#{ovo.phone}, o_postcode=#{ovo.postcode}, o_addr=#{ovo.addr}
		WHERE
			o_id=#{ovo.id}
	</update>
	<delete id="deleteOrd" >
		DELETE FROM
			tbl_order
		WHERE
			o_id=#{orderId}
	</delete>
	<delete id="deleteOrdProd" >
		DELETE FROM
			tbl_order_prod
		WHERE
			o_id=#{orderId}
	</delete>
	<update id="updateState" >
		UPDATE
			tbl_order
		SET
			o_state=#{state}
		WHERE
			o_id=#{orderId}
	</update>
	
</mapper>