<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeekong.mapper.ProductMapper">
	
	<sql id="search">
		<if test="cri.searchType != null">
			<if test="cri.searchType == 'prodNm'.toString()">
				WHERE
					LOWER(p_name)
				LIKE
					CONCAT('%',#{cri.keyword},'%')
			</if>
			<if test="cri.searchType == 'category'.toString()">
				WHERE
					LOWER(p_category)
				LIKE
					CONCAT('%',#{cri.keyword},'%')
			</if>
		</if>
	</sql>
	<sql id="columns">
		p_id AS id,
		p_category AS category,
		p_name AS name,
		p_content as content,
		p_price AS price,
		p_mdate AS mdate,
		p_rdate AS rdate,
		p_img AS img
	</sql>

	<insert id="insert" parameterType="com.coffeekong.domain.ProductVO">
		INSERT INTO
			tbl_prod(p_category, p_name, p_content, p_price, p_mdate, p_rdate, p_img)
		VALUES(
			#{pvo.category},#{pvo.name},#{pvo.content}, #{pvo.price}, #{pvo.mdate}, now(), #{pvo.img}
		)
	</insert>
	
	<select id="list" parameterType="com.coffeekong.domain.SearchCriteria" resultType="com.coffeekong.domain.ProductVO">
		SELECT
			<include refid="columns"></include>
		FROM
			tbl_prod
		<include refid="search"></include>
		ORDER BY
			p_rdate desc
		LIMIT
			#{cri.startIdx}, #{cri.perPageNum}
	</select>
	
	<select id="listCount" parameterType="com.coffeekong.domain.SearchCriteria" resultType="int">
		SELECT 
			count(*)
		FROM
			tbl_prod
		<include refid="search"></include>
	</select>
	
	<select id="listByCategory" resultType="com.coffeekong.domain.ProductVO">
		SELECT
			<include refid="columns"></include>
		FROM
			tbl_prod
		WHERE
			p_category=#{category}
	</select>
	<select id="getByPid" resultType="com.coffeekong.domain.ProductVO">
		SELECT
			<include refid="columns"></include>
		FROM
			tbl_prod
		WHERE
			p_id=#{productId}
	</select>
	<select id="delete">
		DELETE FROM
			tbl_prod
		WHERE
		 	p_id=#{productId}
	</select>
	<update id="update" parameterType="com.coffeekong.domain.ProductVO">
		UPDATE
			tbl_prod 
		SET
			p_category=#{pvo.category}, p_name=#{pvo.name},p_content=#{pvo.content}, p_price=#{pvo.price}, p_mdate=#{pvo.mdate}, p_img=#{pvo.img}
		WHERE
			p_id=#{pvo.id}
	</update>
	<select id="listReview" resultType="com.coffeekong.domain.ReviewVO">

		SELECT
			r_id AS id,
			p_id AS productId,
			u_email AS email,
			u_name AS name,
			r_grade AS grade,
			r_content AS content,
			r_date AS date
		FROM
			tbl_review
		WHERE
			p_id=#{productId}
		ORDER BY
			r_id DESC
		LIMIT
			#{cri.startIdx}, #{cri.perPageNum}
	</select>

	<select id="listReviewCount" resultType="int">
		SELECT
			count(r_id)
		FROM
			tbl_review
		WHERE
			p_id=#{productId}
	</select>

	<insert id="addReview" parameterType="com.coffeekong.domain.ReviewVO">
		INSERT INTO
			tbl_review(p_id, u_email, u_name, r_grade, r_content, r_date)
		VALUES
			(#{rvo.productId},#{rvo.email},#{rvo.name},#{rvo.grade},#{rvo.content},now())
	</insert>

	<delete id="deleteReview">
		DELETE	FROM
			tbl_review
		WHERE
			r_id=#{reviewId}
	</delete>
</mapper>