<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeekong.mapper.ProductMapper">
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'prodNm'.toString()">
				WHERE
					LOWER(p_name)
				LIKE
					CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType == 'category'.toString()">
				WHERE
					LOWER(p_category)
				LIKE
					CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	<sql id="columns">
		p_id,
		p_category,
		p_name,
		p_content,
		p_price,
		p_mdate,
		p_rdate,
		p_img,
	</sql>

	<insert id="insert" parameterType="com.coffeekong.domain.ProductVO">
		INSERT INTO
			tbl_prod
		VALUES(
			#{p_category},#{p_name},#{p_content}, #{p_price}, #{p_mdate}, sysdate, #{p_img}
		)
	</insert>
	
	<select id="list" parameterType="com.coffeekong.domain.SearchCriteria" resultType="com.coffeekong.domain.ProductVO">
		SELECT
			p_id,p_category,p_name,p_content,p_price,p_mdate,p_rdate,p_img
		FROM
			tbl_prod
		<include refid="search"></include>
		ORDER BY
			p_rdate desc
		LIMIT
			(#{page} -1) * #{perPageNum}, #{perPageNum}
	</select>
	
	<select id="listCount" parameterType="com.coffeekong.domain.SearchCriteria" resultType="int">
		SELECT 
			count(*)
		FROM
			tbl_prod
		<include refid="search"></include>
	</select>
	
	<select id="listByCategory" resultType="com.coffeekong.domain.ProductVO">
		SELECT
			*
		FROM
			tbl_prod
		WHERE
			p_category=#{category}
	</select>
	<select id="getByPid" resultType="com.coffeekong.domain.ProductVO">
		SELECT
			*
		FROM
			tbl_prod
		WHERE
			p_id=#{pid}
	</select>
	<select id="delete">
		DELETE FROM
			tbl_prod
		WHERE
		 	p_id=#{pId}
	</select>
	<select id="update" parameterType="com.coffeekong.domain.ProductVO">
		UPDATE
			tbl_prod 
		SET
			p_category=#{p_category}, p_name=#{p_name},p_content=#{p_content}, p_price=#{p_price}, p_mdate=#{p_mdate}, p_img=#{p_img}
		WHERE
			p_id=#{p_id}
	</select>
	<select id="listReview" resultType="com.coffeekong.domain.ReviewVO">
		SELECT
			r_id, p_id,u_email, u_name,r_grade, r_content, r_date
		FROM
			tbl_review
		WHERE
			p_id=#{pid}
		ORDER BY
			r_id DESC
		LIMIT
			#{startIndex}, #{perPageNum}
	</select>

	<select id="listReviewCount" resultType="int">
		SELECT
			count(r_id)
		FROM
			tbl_review
		WHERE
			p_id=#{pid}
	</select>

	<insert id="addReview" parameterType="com.coffeekong.domain.ReviewVO">
		INSERT INTO
			tbl_review
		VALUES
			(seq_rid.nextval, #{p_id},#{u_email},#{u_name},#{r_grade},#{r_content},sysdate) 
	</insert>

	<delete id="deleteReview">
		DELETE	FROM
			tbl_review
		WHERE
			r_id=#{rid}
	</delete>
</mapper>