<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeekong.mapper.UserMapper">

	<sql id="search">
		<if test="cri.searchType != null">
			<if test="cri.searchType == 'email'.toString()">
				WHERE
					LOWER(u_email)
				LIKE
					CONCAT('%',#{cri.keyword},'%')
			</if>
		</if>
	</sql>
	<sql id="columns">
		u_email AS email,
		u_fname AS fname,
		u_lname AS lname,
		u_pwd AS pwd,
		u_point AS point,
		sess_id AS sessId,
		sess_limit AS sessLimit
	</sql>
	
	<select id="checkEmail" resultType="String">
		SELECT
			u_email
		FROM
			tbl_user
		WHERE
			u_email=#{email}
	</select>
	<select id="checkUserPw" parameterType="com.coffeekong.domain.UserVO" resultType="String">
		SELECT
			u_email
		FROM
			tbl_user
		WHERE
			u_email = #{uvo.email} AND u_pwd = #{uvo.pwd}
	</select>
	
	<select id="login" resultType="com.coffeekong.domain.UserVO">
		SELECT 
			<include refid="columns"></include>
		FROM
			tbl_user
		WHERE
			u_email = #{email}
		AND
			u_pwd = #{pwd}
	</select>
	
	<select id="getUserWithSession" parameterType="String" resultType="com.coffeekong.domain.UserVO">

		SELECT
			<include refid="columns"></include>
		FROM
			tbl_user
		WHERE
			sess_id = #{key} and sess_limit <![CDATA[>]]> now()

	</select>
	<update id="rmbLogin" parameterType="java.util.HashMap">
		UPDATE
			tbl_user
		SET
			sess_id = #{sess_id}, sess_limit = #{limit}
		WHERE
			u_email = #{email}
	</update>
	<insert id="register" parameterType="com.coffeekong.domain.UserVO">
		INSERT INTO
			tbl_user(u_email,u_fname,u_lname,u_pwd,sess_limit)
		VALUES(
			#{uvo.email},#{uvo.fname},#{uvo.lname},#{uvo.pwd},now()
		)
	</insert>
	
	
	<select id="detail" parameterType="String" resultType="com.coffeekong.domain.UserVO">
		SELECT
			<include refid="columns"></include>
		FROM
			tbl_user
		WHERE 
			u_email = #{email}
	</select>
	<select id="listCount" resultType="int">
		SELECT 
			count(*)
		FROM
			tbl_user
		<include refid="search"></include>
	</select>
	<select id="list" parameterType="com.coffeekong.domain.SearchCriteria" resultType="com.coffeekong.domain.UserVO">
		SELECT
			<include refid="columns"></include>
		FROM
			tbl_user
		<include refid="search"></include>
		ORDER BY
			u_email
		LIMIT
			#{cri.startIdx}, #{cri.perPageNum}
	</select>
	
	<update id="update" parameterType="com.coffeekong.domain.UserVO">
 		UPDATE
 			tbl_user
 		SET
 			u_fname=#{uvo.fname}, u_lname=#{uvo.lname}, u_pwd=#{uvo.pwd}
 		WHERE
 			u_email=#{uvo.email}
	</update>
	<delete id="delete" parameterType="String">
		DELETE
			FROM tbl_user
		WHERE
			u_email=#{email}
	</delete>
</mapper>
